
.login-container{
  
  	// margin: auto;
  	color: #666666;
	font-size: 16px;
}

//style Formulaire
.login-container .login-form{
	border: 2px solid;
 	margin: 20px 0 20px 0;
}

//style Input
 .login-form .form-control{
	font-size: 15px;
   	min-height: 48px;
   	font-weight: 500;
}
//style des liens 
.login-form a{
   text-decoration: none;
   color: #666666;
}
.login-form a:hover{
   color:#723dbe;
}
//style forgot link
.forgot-link{
  	font-size: 10px;
}
// style input focus
.login-form .form-control:focus{
	border-color:#723dbe;
	box-shadow: 0 0 0 0.5rem rgba(114,61,190,.25);
}
//style btn login
.login-form > .btn-custom{
  	background: #723dbe;
  	border-color:#723dbe;
  	color:#fff;
  	font-size: 15px;
  	font-weight: bolder;
  	min-height: 48px;
}
.btn-custom:focus,
.btn-custom:hover,
.btn-custom:active,
.btn-custom:active:focus{
  background: #54229d;
  border-color: #54229d;
  color:#fff;
}
.login-form > .btn-custom:focus{
  box-shadow: 0 0 0 0.3rem rgba(94, 46, 161, 0.25);
}
